# Dependencies
node_modules/

# Build output
dist/
dist-ssr/

# Local env files
.env
.env.local
.env.*.local
env.download

# Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
npm-debug.log*

# Vite
*.local
.vercel
